<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MONITORING_ENVIRONMENT</key>
	<string>$(MONITORING_ENVIRONMENT)</string>
	<key>MONITORING_ENABLED</key>
	<string>$(MONITORING_ENABLED)</string>
	<key>POSTHOG_PROJECT_TOKEN</key>
	<string>$(POSTHOG_PROJECT_TOKEN)</string>
	<key>POSTHOG_HOST</key>
	<string>$(POSTHOG_HOST)</string>
	<key>SENTRY_DSN</key>
	<string>$(SENTRY_DSN)</string>

	<key>API_BASE_URL</key>
	<string>$(API_BASE_URL)</string>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
</dict>
</plist>
