<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:allowBackup="false"
        android:label="Group detail profile target"
        android:theme="@android:style/Theme.Material.Light.NoActionBar">
        <profileable android:shell="true" />
        <activity
            android:name=".GroupDetailBenchmarkActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
